.sidebar  .tabs-menu ul li .active{
	background:linear-gradient(to right, #00c6fb, #005bea);
    color:  #fff;
}
a {
	color: #005bea;
}
a:hover {
	color: #005bea;
}
.bg-primary {
	background:#005bea !important;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
	background-color: #7c36f4 !important;
}
.bg-secondary {
	background: #0099ff !important;
}
a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {
	background-color: #e69a11 !important;
}
}
/*--- gradient-backgrounds --*/
.bg-primary-gradient {
	background: linear-gradient(to right, #00c6fb, #005bea) !important;
}
a.bg-primary-gradient:hover, a.bg-primary-gradient:focus, button.bg-primary-gradient:hover, button.bg-primary-gradient:focus {
	background-color: #24987E !important;
}
.bg-secondary-gradient {
	background: linear-gradient(to bottom right, #ed6ea0 0% , #fb8d34 100%) !important;
}
a.bg-secondary-gradient:hover, a.bg-secondary-gradient:focus, button.bg-secondary-gradient:hover, button.bg-secondary-gradient:focus {
	background-color: #c29d0b !important;
}
.border-primary {
	border-color: #005bea!important;
}
.border-secondary {
	border-color: #868e96 !important;
}
.text-primary {
	color: #005bea !important;
}
a.text-primary:hover, a.text-primary:focus {
	color: #005bea  !important;
}
.text-secondary {
	color: #0099ff !important;
}
a.text-secondary:hover, a.text-secondary:focus {
	color: #0099ff !important;
}
.table-primary, .table-primary>th, .table-primary>td {
	background-color: #d5d5f1;
}
.table-hover .table-primary:hover {
	background-color: #d2f9da;
}
.table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
	background-color: #d2f9da;
}
.table-secondary, .table-secondary>th, .table-secondary>td {
	background-color:#cfe8f9;
}
.table-hover .table-secondary:hover {
	background-color: #ffecca;
}
.table-hover .table-secondary:hover>td, .table-hover .table-secondary:hover>th {
	background-color: #ffecca;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color:#005bea !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #005bea!important;
    border: 1px solid #005bea!important;
}
.form-control:focus {
	border-color:#005bea;
}
.btn-primary {
	color: #fff;
	background: #005bea!important;
	border-color: #005bea !important;
}
.btn-primary:hover {
	color: #fff;
	background-color: #1973ec;
	border-color:#1973ec;
}
.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 2px rgb(0, 115, 238,0.9);
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #005bea;
	border-color: #005bea;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #005bea;
	border-color: #005bea;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(0, 115, 238,0.9);
}
.btn-secondary {
	color: #fff;
	background: #0099ff !important;
	border-color: #0099ff;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #0c9bfb;
	border-color:#0c9bfb;
}
.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 2px rgba(0, 153, 255, 0.9);
}
.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #0099ff;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: ##0099ff;
	border-color: #0099ff;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(0, 153, 255,0.9);
}
.btn-primary-light {
	color: #005bea;
    background: #bec0f7 !important;
    border-color: #bec0f7 !important;
}
.btn-primary-light:hover {
	color: #fff;
	background-color: #005bea !important;
	border-color: #005bea;
}
.btn-primary-light:focus, .btn-primary-light.focus {
	box-shadow: 0 0 0 2px rgb(0, 115, 238,0.9);
}
.btn-secondary-light {
	color: #0099ff;
	background:#9bcef1 !important;
	border-color:#9bcef1;
}
.btn-secondary-light:hover {
	color: #fff;
	background-color: #0099ff !important;
	border-color: #0099ff;
}
.btn-secondary-light:focus, .btn-secondary-light.focus {
	box-shadow: 0 0 0 2px rgba(240, 239, 241, 0.9);
}
/*--gradient-buttons--*/
.btn-primary-gradient {
	color: #fff;
	background: linear-gradient(to right bottom,#005bea,#4ac361) !important;
	border-color: #58d36f !important;
}
.btn-primary-gradient:hover {
	color: #fff;
	background-color: #005bea;
	border-color: #58d36f;
}
.btn-primary-gradient:focus, .btn-primary-gradient.focus {
	box-shadow: 0 0 0 2px rgb(105, 231, 128,0.9);
}
.btn-primary-gradient.disabled, .btn-primary-gradient:disabled {
	color: #fff;
	background-color: #005bea;
	border-color: #58d36f;
}
.btn-primary-gradient:not(:disabled):not(.disabled):active, .btn-primary-gradient:not(:disabled):not(.disabled).active, .show>.btn-primary-gradient.dropdown-toggle {
	color: #fff;
	background-color: #005bea;
	border-color: #58d36f;
}
.btn-primary-gradient:not(:disabled):not(.disabled):active:focus, .btn-primary-gradient:not(:disabled):not(.disabled).active:focus, .show>.btn-primary-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(105, 231, 128,0.9);
}
.btn-secondary-gradient {
	color: #fff;
	background:linear-gradient(to bottom right, #ed6ea0 0% , #fb8d34 100%) !important;
	border-color: #f66b4e;
}
.btn-secondary-gradient:hover {
	color: #fff;
	background-color: #ed6ea0;
	border-color: #f66b4e;
}
.btn-secondary-gradient:focus, .btn-secondary-gradient.focus {
	box-shadow: 0 0 0 2px rgba(238, 112, 152, 0.9);
}
.btn-secondary-gradient.disabled, .btn-secondary-gradient:disabled {
	color: #fff;
	background-color: #ed6ea0;
}
.btn-secondary-gradient:not(:disabled):not(.disabled):active, .btn-secondary-gradient:not(:disabled):not(.disabled).active, .show>.btn-secondary-gradient.dropdown-toggle {
	color: #fff;
	background-color: #ed6ea0;
	border-color: #f66b4e;
}
.btn-secondary-gradient:not(:disabled):not(.disabled):active:focus, .btn-secondary-gradient:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(253, 126, 162,0.9);
}
.btn-outline-primary {
	color: #005bea;
	background: transparent;
	background-image: none;
	border-color: #005bea;
}
.btn-outline-primary:hover {
	color: #fff;
	background: #005bea;
	border-color: #005bea;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #005bea;
	background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #005bea;
	border-color: #005bea;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
.btn-outline-secondary {
	color: #0099ff;
	background-color: transparent;
	background-image: none;
	border-color: #0099ff;
}
.btn-outline-secondary:hover {
	color: #fff;
	background-color: #0099ff;
	border-color: #0099ff;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 2px rgb(255, 205, 116,0.9);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #0099ff;
	background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: #0099ff;
	border-color: #0099ff;
}
.btn-link {
	color: #005bea;
}
.btn-link:hover {
	color: #295a9f;
}
/*------Drop Downs-------*/
.notifyimg {
	background-image:linear-gradient(to right, #005bea 0%, #4ac361 100%);
}
.drop-icon-wrap .drop-icon-item:hover{
	color: #005bea;
}	
.dropdown-item:hover, .dropdown-item:focus {
	color: #005bea;
}
.dropdown-item.active, .dropdown-item:active {
	color: #005bea;
}
/*----- Custom control -----*/
timeline__item:after {
    border: 6px solid #005bea;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: #005bea;
}
.custom-control-label::before {
	background-color: #e3e3f7;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #005bea;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
	background-color: #005bea;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #005bea;
}
.custom-select:focus {
	border-color: #005bea;
}
.custom-file-label::after {
	background-color: #005bea;
}
.custom-range::-webkit-slider-thumb {
	background-color: #005bea;
}
.custom-range::-moz-range-thumb {
	background-color: #005bea;
}
.custom-range::-ms-thumb {
	background-color: #005bea;
}

/*------ Navigation -------*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #005bea;
}

/*------ Accordion -------*/
.page-link:hover {
	color: #005bea;
}
.page-item.active .page-link {
	color: #fff;
	background-color: #005bea;
}

/*------ Email services -------*/
.range.range-primary input[type="range"]::-webkit-slider-thumb {
	background-color: #005bea;
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
	background-color: #005bea;
}
.range.range-primary output {
	background-color: #005bea;
}
.range.range-primary input[type="range"] {
	outline-color: #005bea;
}

/*------ Pricing Styles ---------*/
.panel.price>.panel-heading {
	background:#005bea;
}
.nav-tabs .nav-item1 .nav-link:hover:not(.disabled) {
	background: #005bea;
}
.nav-tabs .nav-item1 .nav-link.active {
	background: #005bea;
}

/*alerts*/
.pop-primary {
	color: #4d9dff;
}
.popsecondary {
	color: #628dea;
}

/*----- Typography ------*/

.heading-primary {
	background-color: #005bea;
}

/*------ Breadcrumb ------*/
.breadcrumb-item.active {
	color: #005bea;
}
.breadcrumb-item1 a {
	color: #005bea;
}
.breadcrumb-item1 a:hover {
	color: #123787;
}

/*-------Accordion-----------*/
.panel-default>.panel-heading {
	color: #005bea;
}

/* ----- v CAN BE DELETED v ----- */
.panel-title1 a {
	background:linear-gradient(to right, #005bea 0%, #3a43f6 100%);
}

/*-----Badges-----*/
.badge-primary {
	color: #fff;
	background: #005bea;
}
.badge-primary[href]:hover, .badge-primary[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #7e3af2;
}
.badge-secondary {
	color: #fff;
	background: #0099ff  !important;
}
.badge-secondary[href]:hover, .badge-secondary[href]:focus {
	color: #fff;
	text-decoration: none;
	background: #0099ff ;
}

/*-----Badges-----*/
.badge-primary-gradient {
	color: #fff;
	background-image:linear-gradient(to right, #005bea 0%, #3b45f9 100%);
}
.badge-primary-gradient[href]:hover, .badge-primary-gradient[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #005bea;
}
.badge-secondary-gradient {
	color: #fff;
	background: linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
}
.badge-secondary-gradient[href]:hover, .badge-secondary-gradient[href]:focus {
	color: #fff;
	text-decoration: none;
	background: #f66b4e;
}
.badge-secondary-gradient[href]:hover, .badge-secondary-gradient[href]:focus {
	color: #fff;
	text-decoration: none;
	background:linear-gradient(to bottom right, #fd9220 0%, #f66b4e 100%) !important;
}

/*-----Alerts-----*/
.alert-primary {
	color: #005bea;
    background-color:#a7a9f5;
    border-color: #a7a9f5;
}
.alert-primary hr {
	border-top-color: #e4fbe8;
}
.alert-primary .alert-link {
	color: #172b46;
}
.alert-secondary {
	color:#060a0c;
	background-color:#9bcef1;
	border-color:#9bcef1;
}
.alert-secondary hr {
	border-top-color: #fdefd5;
}
.alert-secondary .alert-link {
	color: #2e3133;
}


/*-----Lists-----*/
.list-group-item-action:hover, .list-group-item-action:focus {
	color: #005bea;
}

/*------ Background colors -------*/
.text-blue {
	color: #005bea!important;
}
.nav-tabs .nav-link:hover:not(.disabled) {
	color: #fff;
	background: #005bea;
}
.nav-tabs .nav-link.active {
	color: #fff;
	background: #005bea;
}
@media (max-width: 992px) {
	.nav-item.with-sub .sub-item{
		border-top:2px solid #005bea;
	}
}	

/*--------panel----------*/
.expanel-primary {
	border: #005bea!important;
}
.expanel-secondary {
	border: #0099ff !important;
}
.expanel-primary>.expanel-heading {
	color: #fff !important;
	background-color: #005bea!important;
	border-color: #005bea!important;
}
.expanel-secondary>.expanel-heading {
	color: #fff !important;
	background-color: #0099ff !important;
	border-color: #0099ff !important;
}

/*----- Avatars -----*/
.avatar {
	background: #005bea no-repeat center/cover;
}


/*-------- Loaders ---------*/
.spinner {
	background-color: #005bea;
}
.spinner-lg {
	background-color: #005bea;
}
.double-bounce1, .double-bounce2 {
	background-color: #005bea;
}
.cube1, .cube2 {
	background-color: #005bea;
}
.lds-heart div {
	background: #005bea;
}
.lds-heart div:after,
.lds-heart div:before {
	background: #005bea;
}
.lds-ring div {
	border: 6px solid #005bea;
	border-color: #005bea transparent transparent transparent;
}
.lds-hourglass:after {
	border: 26px solid #005bea;
	border-color: #005bea transparent ;
}
.form-signin .form-control:focus{
	border-bottom:1px solid #005bea;
}


/*-----Icon input-----*/
a.chip:hover {
	background-color: #005bea;
}

/*---- Tags-----*/
.tag-primary {
	background-color: #467fcf;
	color: #fff;
}
.tag-secondary {
	background-color: #868e96;
	color: #fff;
}
.selectgroup-input:checked+.selectgroup-button {
	border-color: #005bea;
	color: #005bea;
}
.selectgroup-input:focus+.selectgroup-button {
	border-color: #005bea;
	color: #005bea;
}
.custom-switch-input:checked~.custom-switch-indicator {
	background:#005bea;
}

/***** time-line*****/
.timeline--horizontal .timeline-divider {
	background: #005bea!important;
}

/*-----Back to Top-----*/
#back-to-top {
	background:#005bea;
}

#back-to-top:hover {
	color: #005bea!important;
	border: 2px solid #005bea;
}

.tabs-menu ul li .active{
	background:#005bea;
}
.tabs-menu1 ul li .active{
	border-bottom:5px solid #005bea;
}
.tab-content i{
	color:#005bea;
}
.tabs-menu2 ul li .active{
	color: #005bea;
}

/*-- rating--*/

.message-feed:not(.right) .mf-content {
    background: #005bea;
}
.message-feed:not(.right) .mf-content:before{
    border-right-color: #005bea;
}
.msb-reply button {
    background: #005bea;
}

/* --------Added--------- css*/
.wizard-card .moving-tab {
	margin-top:5px;
	background:linear-gradient(to right, #005bea 0%, #4ac361 100%);
}
.cal1 .clndr .clndr-table .header-days {
	background: #005bea;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
	background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #005bea;
}
.cal1 .clndr .clndr-table tr .day.event:hover, .cal1 .clndr .clndr-table tr .day.my-event:hover{
	background: #005bea !important;
}
.fc-event {
	border: 1px solid #005bea;
}
.fc-event,
.fc-event-dot {
	background-color: #005bea;
}

/* ----Added css----*/
div.conv-form-wrapper div.options div.option {
	color: #005bea;
	border: 1px solid #005bea;
}
form.convFormDynamic button.submit {
	color:#005bea;
    border:1px solid #005bea!important;  
}
div.conv-form-wrapper div.options div.option.selected {
    background: #005bea;
}
div.conv-form-wrapper div.options div.option.selected:hover {
    background: #005bea;
}
form.convFormDynamic button.submit:hover {
    background:#005bea!important;
}
div.conv-form-wrapper div#messages div.message.from {
    background:#005bea;
}
.addui-slider .addui-slider-track .addui-slider-handle:after {
	background: #005bea;
}
.addui-slider .addui-slider-track .addui-slider-range {
	background: #005bea;
}
/* line 77, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.timeline__item:after {
	 border: 6px solid #005bea;
}
.accordionjs .acc_section.acc_active > .acc_head {
    background: #005bea;
}
.tab_wrapper > ul li.active {
    border-color: #005bea;
    background: #005bea;
}
.tab_wrapper.right_side > ul li.active:after {
	background:linear-gradient(to right, #005bea 0%, #005bea  100%);
}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
	background: #005bea;
}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {
	background: #3d41e6;
}

.weather-card .top {
	background:linear-gradient(to right bottom,#3b45f9,#005bea);
}
.primary .pricing-divider{
	background:linear-gradient(to bottom right,#4ac361,#005bea) !important;
}
.secondary .pricing-divider{
	background:linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
	padding: 1em 0 4em;
	position: relative;
}
.product-grid6 .title a:hover{
	color:#005bea;
}
.product-grid6 .icons li a{
	color:#fff;
	border:1px solid #005bea;
}
.product-grid6 .icons li a:hover{
	background-image:linear-gradient(to right, #005bea 0%, #3942f5 100%);
	}
.product-grid6 .icons li a:after,.product-grid6 .icons li a:before{
	background-image:linear-gradient(to right, #005bea 0%, #3942f5 100%);
}
 

  .card-counter.primary{
    background-image:linear-gradient(to right, #005bea 0%, #4ac361 100%);
    color: #FFF;
  }

  .card-counter.secondary{
    background:linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
    color: #FFF;
  }  

 
/*-----user-profile----*/
#user-profile .profile-details a > i {
	color: #005bea;
}
#user-profile .profile-details i{
	color: #005bea;
}

/* CONVERSATION */
@media (max-width: 767.98px) and (min-width: 576px){
	.search-show .search-element {
		background-image:linear-gradient(to right, #005bea 0%, #3b45f9 100%);
	}
}
@media (max-width: 575.98px){
	.search-show .search-element {
		background-image:linear-gradient(to right, #005bea 0%, #3b45f9 100%);
	}
}

.text-primary-gradient {
	background: #005bea;
}
.text-primary-gradient {
	background: #005bea;
}
.text-secondary-gradient{
	text-transform: uppercase;
	background: linear-gradient(to right , #ed6ea0 0%,#fb8d34 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*---about us---*/
.statistics-info .counter-icon i {
    color: #005bea;
}
.statistics-info .counter-icon {
    border: 1px solid #005bea;
}

/*--home2 category effect--*/
.item-card-img{
	overflow:hidden;
}
.chat .msg_head{
	background:#005bea;
}
.msb-reply button {
    background:#005bea;
}

.top-footer p:hover{
	color:#005bea;
}
.top-footer a address:hover{
	color:#005bea;
}
.top-footer a:hover{
	color:#005bea;
}
.footer-payments a:hover{
	color:#005bea;
}
.footer-social-list a:hover{
	color:#005bea;
}
.sw-theme-dots .nav-tabs .nav-link:hover:not(.disabled) {
	color: #005bea;
}
.horizontal-main2.horizontal-main {
    background: #005bea;
}
/*--header-3--*/
.custom-switch-input:checked~.custom-switch-indicator {
	background: #005bea;
}
.custom-switch-input:focus~.custom-switch-indicator {
	border-color:#005bea;
}
.label-primary{
	background:#005bea;
}
.sweet-alert button {
	background-color: #005bea!important;
}
/*--bg-transparents--*/
.bg-secondary-transparent {
    background-color: rgba(0, 153, 255, 0.1) ;
}
.bg-primary-transparent {
    background-color: rgb(126, 110, 230,0.1) ;
}

/*--left-menu--*/
.side-account li a:hover{ 
	color:#005bea;
}
.sidetab-menu .panel-tabs li a.active{
	background:#005bea;
}
.sidetab-menu .panel-tabs li a:hover{
	background:#005bea;
}
.side-menu__item.active, .side-menu__item:hover, .side-menu__item:focus {
	color: #005bea;
}
.side-menu__item.active .side-menu__icon, .side-menu__item:hover .side-menu__icon, .side-menu__item:focus .side-menu__icon{
	color:#005bea;
}
.slide-menu a.active{
	color: #005bea !important;
}
.slide-item.active, .slide-item:hover, .slide-item:focus {
	color: #005bea;
}
.side-menu .side-menu__icon {
	color: #005bea;
}
.slide-item.active .side-icon{
	color: #005bea !important;
}
.slide-item:hover .side-icon{
	color: #005bea !important;
}
.slide.submenu .side-menu__label:hover{
	color:#005bea; 
}
.side-menu .slide-menu.submenu-list a:hover{
	background: #fff;
}

/*--Resposive tabs left-menu--*/
.resp-vtabs li.resp-tab-active {
	background-color: #005bea !important;
}
.resp-vtabs li.active{
	background: #00000020 !important;
}
.resp-vtabs li:hover{
	background:#00000020 !important;
}

/*--Horizontal menu--*/
.horizontal-main {
	background: #005bea; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #005bea, #3b45f9); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #005bea, #3b45f9);
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
	color:#005bea;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{
	color:#005bea;
}
.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover{
	color:#005bea;
}
@media only screen and (max-width: 991px) {
	.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu li:hover>a {
		color: #005bea!important;
	}
	.horizontalMenu>.horizontalMenu-list>li:hover>a {
		background:linear-gradient(to right, #00c6fb, #005bea);
	}
	.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
		background: linear-gradient(to right, #00c6fb, #005bea) !important;
	}
	.hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover{
		background: linear-gradient(to right, #00c6fb, #005bea) !important;
	}
	.horizontalMenu>.horizontalMenu-list>li:hover>a {
		background:linear-gradient(to right, #00c6fb, #005bea);
	}
}


/*header logo*/
@media (max-width: 575.98px){
	.color-headerlogo{
	}
	.color-headerlogo .header-mobile{
		background: url(../images/icon.png);
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		margin-left: 3rem;
		margin-top: 4px;
	}
}
@media (max-width: 767.98px) and (min-width: 576px){
	.header-desktop{
		margin-left:3rem;
		background: url(../images/logo.png);
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}
	.search-icon{
		margin-top:3px;
	}
}
@media (max-width: 992px) and (min-width: 767px){
	.header-desktop{
		margin-left:3rem;
		background: url(../images/logo.png);
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}
	.search-icon{
		margin-top:3px;
	}
	.header .form-inline{
		margin-left: 13rem;
	}
}
@media (min-width: 992px){
	.color-headerlogo{
	}
	.header-desktop{
		background: url(../images/logo.png);
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}
	.color-headerlogo .header-mobile{
		display:none;
	}
}
a {
	color: #005bea;
}
a:hover {
	color: #005bea;
}
.bg-primary {
	background:#005bea !important;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
	background-color: #7c36f4 !important;
}
.bg-secondary {
	background: #0099ff !important;
}
a.bg-secondary:hover, a.bg-secondary:focus, button.bg-secondary:hover, button.bg-secondary:focus {
	background-color: #e69a11 !important;
}
}
/*--- gradient-backgrounds --*/
.bg-primary-gradient {
	background:linear-gradient(to right bottom,#005bea,#1973ec) !important;
}
a.bg-primary-gradient:hover, a.bg-primary-gradient:focus, button.bg-primary-gradient:hover, button.bg-primary-gradient:focus {
	background-color: #24987E !important;
}
.bg-secondary-gradient {
	background: linear-gradient(to bottom right, #ed6ea0 0% , #fb8d34 100%) !important;
}
a.bg-secondary-gradient:hover, a.bg-secondary-gradient:focus, button.bg-secondary-gradient:hover, button.bg-secondary-gradient:focus {
	background-color: #c29d0b !important;
}
.border-primary {
	border-color: #005bea!important;
}
.border-secondary {
	border-color: #868e96 !important;
}
.text-primary {
	color: #005bea !important;
}
a.text-primary:hover, a.text-primary:focus {
	color: #005bea  !important;
}
.text-secondary {
	color: #0099ff !important;
}
a.text-secondary:hover, a.text-secondary:focus {
	color: #0099ff !important;
}
.table-primary, .table-primary>th, .table-primary>td {
	background-color: #d5d5f1;
}
.table-hover .table-primary:hover {
	background-color: #d2f9da;
}
.table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th {
	background-color: #d2f9da;
}
.table-secondary, .table-secondary>th, .table-secondary>td {
	background-color:#cfe8f9;
}
.table-hover .table-secondary:hover {
	background-color: #ffecca;
}
.table-hover .table-secondary:hover>td, .table-hover .table-secondary:hover>th {
	background-color: #ffecca;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border-color:#005bea !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #005bea!important;
    border: 1px solid #005bea!important;
}
.form-control:focus {
	border-color:#005bea;
}
.btn-primary {
	color: #fff;
	background: #005bea!important;
	border-color: #005bea !important;
}
.btn-primary:hover {
	color: #fff;
	background-color: #1973ec;
	border-color:#1973ec;
}
.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 2px rgb(0, 115, 238,0.9);
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #005bea;
	border-color: #005bea;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #005bea;
	border-color: #005bea;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(0, 115, 238,0.9);
}
.btn-secondary {
	color: #fff;
	background: #0099ff !important;
	border-color: #0099ff;
}
.btn-secondary:hover {
	color: #fff;
	background-color: #0c9bfb;
	border-color:#0c9bfb;
}
.btn-secondary:focus, .btn-secondary.focus {
	box-shadow: 0 0 0 2px rgba(0, 153, 255, 0.9);
}
.btn-secondary.disabled, .btn-secondary:disabled {
	color: #fff;
	background-color: #0099ff;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: ##0099ff;
	border-color: #0099ff;
}
.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(0, 153, 255,0.9);
}
.btn-primary-light {
	color: #005bea;
    background: #bec0f7 !important;
    border-color: #bec0f7 !important;
}
.btn-primary-light:hover {
	color: #fff;
	background-color: #005bea !important;
	border-color: #005bea;
}
.btn-primary-light:focus, .btn-primary-light.focus {
	box-shadow: 0 0 0 2px rgb(0, 115, 238,0.9);
}
.btn-secondary-light {
	color: #0099ff;
	background:#9bcef1 !important;
	border-color:#9bcef1;
}
.btn-secondary-light:hover {
	color: #fff;
	background-color: #0099ff !important;
	border-color: #0099ff;
}
.btn-secondary-light:focus, .btn-secondary-light.focus {
	box-shadow: 0 0 0 2px rgba(240, 239, 241, 0.9);
}
/*--gradient-buttons--*/
.btn-primary-gradient {
	color: #fff;
	background: linear-gradient(to right bottom,#005bea,#4ac361) !important;
	border-color: #58d36f !important;
}
.btn-primary-gradient:hover {
	color: #fff;
	background-color: #005bea;
	border-color: #58d36f;
}
.btn-primary-gradient:focus, .btn-primary-gradient.focus {
	box-shadow: 0 0 0 2px rgb(105, 231, 128,0.9);
}
.btn-primary-gradient.disabled, .btn-primary-gradient:disabled {
	color: #fff;
	background-color: #005bea;
	border-color: #58d36f;
}
.btn-primary-gradient:not(:disabled):not(.disabled):active, .btn-primary-gradient:not(:disabled):not(.disabled).active, .show>.btn-primary-gradient.dropdown-toggle {
	color: #fff;
	background-color: #005bea;
	border-color: #58d36f;
}
.btn-primary-gradient:not(:disabled):not(.disabled):active:focus, .btn-primary-gradient:not(:disabled):not(.disabled).active:focus, .show>.btn-primary-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(105, 231, 128,0.9);
}
.btn-secondary-gradient {
	color: #fff;
	background:linear-gradient(to bottom right, #ed6ea0 0% , #fb8d34 100%) !important;
	border-color: #f66b4e;
}
.btn-secondary-gradient:hover {
	color: #fff;
	background-color: #ed6ea0;
	border-color: #f66b4e;
}
.btn-secondary-gradient:focus, .btn-secondary-gradient.focus {
	box-shadow: 0 0 0 2px rgba(238, 112, 152, 0.9);
}
.btn-secondary-gradient.disabled, .btn-secondary-gradient:disabled {
	color: #fff;
	background-color: #ed6ea0;
}
.btn-secondary-gradient:not(:disabled):not(.disabled):active, .btn-secondary-gradient:not(:disabled):not(.disabled).active, .show>.btn-secondary-gradient.dropdown-toggle {
	color: #fff;
	background-color: #ed6ea0;
	border-color: #f66b4e;
}
.btn-secondary-gradient:not(:disabled):not(.disabled):active:focus, .btn-secondary-gradient:not(:disabled):not(.disabled).active:focus, .show>.btn-secondary-gradient.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgb(253, 126, 162,0.9);
}
.btn-outline-primary {
	color: #005bea;
	background: transparent;
	background-image: none;
	border-color: #005bea;
}
.btn-outline-primary:hover {
	color: #fff;
	background: #005bea;
	border-color: #005bea;
}
.btn-outline-primary:focus, .btn-outline-primary.focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
	color: #005bea;
	background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #005bea;
	border-color: #005bea;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.1);
}
.btn-outline-secondary {
	color: #0099ff;
	background-color: transparent;
	background-image: none;
	border-color: #0099ff;
}
.btn-outline-secondary:hover {
	color: #fff;
	background-color: #0099ff;
	border-color: #0099ff;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
	box-shadow: 0 0 0 2px rgb(255, 205, 116,0.9);
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
	color: #0099ff;
	background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle {
	color: #fff;
	background-color: #0099ff;
	border-color: #0099ff;
}
.btn-link {
	color: #005bea;
}
.btn-link:hover {
	color: #295a9f;
}
/*------Drop Downs-------*/
.notifyimg {
	background-image:linear-gradient(to right, #005bea 0%, #4ac361 100%);
}
.drop-icon-wrap .drop-icon-item:hover{
	color: #005bea;
}	
.dropdown-item:hover, .dropdown-item:focus {
	color: #005bea;
}
.dropdown-item.active, .dropdown-item:active {
	color: #005bea;
}
/*----- Custom control -----*/
timeline__item:after {
    border: 6px solid #005bea;
}
.custom-control-input:checked~.custom-control-label::before {
	background-color: #005bea;
}
.custom-control-label::before {
	background-color: #e3e3f7;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #005bea;
}
.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
	background-color: #005bea;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #005bea;
}
.custom-select:focus {
	border-color: #005bea;
}
.custom-file-label::after {
	background-color: #005bea;
}
.custom-range::-webkit-slider-thumb {
	background-color: #005bea;
}
.custom-range::-moz-range-thumb {
	background-color: #005bea;
}
.custom-range::-ms-thumb {
	background-color: #005bea;
}

/*------ Navigation -------*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #005bea;
}

/*------ Accordion -------*/
.page-link:hover {
	color: #005bea;
}
.page-item.active .page-link {
	color: #fff;
	background-color: #005bea;
}

/*------ Email services -------*/
.range.range-primary input[type="range"]::-webkit-slider-thumb {
	background-color: #005bea;
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
	background-color: #005bea;
}
.range.range-primary output {
	background-color: #005bea;
}
.range.range-primary input[type="range"] {
	outline-color: #005bea;
}

/*------ Pricing Styles ---------*/
.panel.price>.panel-heading {
	background:#005bea;
}
.nav-tabs .nav-item1 .nav-link:hover:not(.disabled) {
	background: #005bea;
}
.nav-tabs .nav-item1 .nav-link.active {
	background: #005bea;
}

/*alerts*/
.pop-primary {
	color: #4d9dff;
}
.popsecondary {
	color: #628dea;
}

/*----- Typography ------*/

.heading-primary {
	background-color: #005bea;
}

/*------ Breadcrumb ------*/
.breadcrumb-item.active {
	color: #005bea;
}
.breadcrumb-item1 a {
	color: #005bea;
}
.breadcrumb-item1 a:hover {
	color: #123787;
}

/*-------Accordion-----------*/
.panel-default>.panel-heading {
	color: #005bea;
}

/* ----- v CAN BE DELETED v ----- */
.panel-title1 a {
	background:linear-gradient(to right, #005bea 0%, #3a43f6 100%);
}

/*-----Badges-----*/
.badge-primary {
	color: #fff;
	background: #005bea;
}
.badge-primary[href]:hover, .badge-primary[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #7e3af2;
}
.badge-secondary {
	color: #fff;
	background: #0099ff  !important;
}
.badge-secondary[href]:hover, .badge-secondary[href]:focus {
	color: #fff;
	text-decoration: none;
	background: #0099ff ;
}

/*-----Badges-----*/
.badge-primary-gradient {
	color: #fff;
	background-image:linear-gradient(to right, #005bea 0%, #3b45f9 100%);
}
.badge-primary-gradient[href]:hover, .badge-primary-gradient[href]:focus {
	color: #fff;
	text-decoration: none;
	background-color: #005bea;
}
.badge-secondary-gradient {
	color: #fff;
	background: linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
}
.badge-secondary-gradient[href]:hover, .badge-secondary-gradient[href]:focus {
	color: #fff;
	text-decoration: none;
	background: #f66b4e;
}
.badge-secondary-gradient[href]:hover, .badge-secondary-gradient[href]:focus {
	color: #fff;
	text-decoration: none;
	background:linear-gradient(to bottom right, #fd9220 0%, #f66b4e 100%) !important;
}

/*-----Alerts-----*/
.alert-primary {
	color: #005bea;
    background-color:#a7a9f5;
    border-color: #a7a9f5;
}
.alert-primary hr {
	border-top-color: #e4fbe8;
}
.alert-primary .alert-link {
	color: #172b46;
}
.alert-secondary {
	color:#060a0c;
	background-color:#9bcef1;
	border-color:#9bcef1;
}
.alert-secondary hr {
	border-top-color: #fdefd5;
}
.alert-secondary .alert-link {
	color: #2e3133;
}


/*-----Lists-----*/
.list-group-item-action:hover, .list-group-item-action:focus {
	color: #005bea;
}

/*------ Background colors -------*/
.text-blue {
	color: #005bea!important;
}
.nav-tabs .nav-link:hover:not(.disabled) {
	color: #fff;
	background: #005bea;
}
.nav-tabs .nav-link.active {
	color: #fff;
	background: #005bea;
}
@media (max-width: 992px) {
	.nav-item.with-sub .sub-item{
		border-top:2px solid #005bea;
	}
}	

/*--------panel----------*/
.expanel-primary {
	border: #005bea!important;
}
.expanel-secondary {
	border: #0099ff !important;
}
.expanel-primary>.expanel-heading {
	color: #fff !important;
	background-color: #005bea!important;
	border-color: #005bea!important;
}
.expanel-secondary>.expanel-heading {
	color: #fff !important;
	background-color: #0099ff !important;
	border-color: #0099ff !important;
}

/*----- Avatars -----*/
.avatar {
	background: #005bea no-repeat center/cover;
}


/*-------- Loaders ---------*/
.spinner {
	background-color: #005bea;
}
.spinner-lg {
	background-color: #005bea;
}
.double-bounce1, .double-bounce2 {
	background-color: #005bea;
}
.cube1, .cube2 {
	background-color: #005bea;
}
.lds-heart div {
	background: #005bea;
}
.lds-heart div:after,
.lds-heart div:before {
	background: #005bea;
}
.lds-ring div {
	border: 6px solid #005bea;
	border-color: #005bea transparent transparent transparent;
}
.lds-hourglass:after {
	border: 26px solid #005bea;
	border-color: #005bea transparent ;
}
.form-signin .form-control:focus{
	border-bottom:1px solid #005bea;
}


/*-----Icon input-----*/
a.chip:hover {
	background-color: #005bea;
}

/*---- Tags-----*/
.tag-primary {
	background-color: #467fcf;
	color: #fff;
}
.tag-secondary {
	background-color: #868e96;
	color: #fff;
}
.selectgroup-input:checked+.selectgroup-button {
	border-color: #005bea;
	color: #005bea;
}
.selectgroup-input:focus+.selectgroup-button {
	border-color: #005bea;
	color: #005bea;
}
.custom-switch-input:checked~.custom-switch-indicator {
	background:#005bea;
}

/***** time-line*****/
.timeline--horizontal .timeline-divider {
	background: #005bea!important;
}

/*-----Back to Top-----*/
#back-to-top {
	background:#005bea;
}

#back-to-top:hover {
	color: #005bea!important;
	border: 2px solid #005bea;
}

.tabs-menu ul li .active{
	background:#005bea;
}
.tabs-menu1 ul li .active{
	border-bottom:5px solid #005bea;
}
.tab-content i{
	color:#005bea;
}
.tabs-menu2 ul li .active{
	color: #005bea;
}

/*-- rating--*/

.message-feed:not(.right) .mf-content {
    background: #005bea;
}
.message-feed:not(.right) .mf-content:before{
    border-right-color: #005bea;
}
.msb-reply button {
    background: #005bea;
}

/* --------Added--------- css*/
.wizard-card .moving-tab {
	margin-top:5px;
	background:linear-gradient(to right, #005bea 0%, #4ac361 100%);
}
.cal1 .clndr .clndr-table .header-days {
	background: #005bea;
}
.cal1 .clndr .clndr-table tr .day.today.event,
.cal1 .clndr .clndr-table tr .day.my-today.event {
	background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
    background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
    background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
    background: #005bea;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
    background: #005bea;
}
.cal1 .clndr .clndr-table tr .day.event:hover, .cal1 .clndr .clndr-table tr .day.my-event:hover{
	background: #005bea !important;
}
.fc-event {
	border: 1px solid #005bea;
}
.fc-event,
.fc-event-dot {
	background-color: #005bea;
}

/* ----Added css----*/
div.conv-form-wrapper div.options div.option {
	color: #005bea;
	border: 1px solid #005bea;
}
form.convFormDynamic button.submit {
	color:#005bea;
    border:1px solid #005bea!important;  
}
div.conv-form-wrapper div.options div.option.selected {
    background: #005bea;
}
div.conv-form-wrapper div.options div.option.selected:hover {
    background: #005bea;
}
form.convFormDynamic button.submit:hover {
    background:#005bea!important;
}
div.conv-form-wrapper div#messages div.message.from {
    background:#005bea;
}
.addui-slider .addui-slider-track .addui-slider-handle:after {
	background: #005bea;
}
.addui-slider .addui-slider-track .addui-slider-range {
	background: #005bea;
}
/* line 77, C:/wamp/www/github/addSlider/src/partials/_addSlider.scss */
.timeline__item:after {
	 border: 6px solid #005bea;
}
.accordionjs .acc_section.acc_active > .acc_head {
    background: #005bea;
}
.tab_wrapper > ul li.active {
    border-color: #005bea;
    background: #005bea;
}
.tab_wrapper.right_side > ul li.active:after {
	background:linear-gradient(to right, #005bea 0%, #005bea  100%);
}
.cal1 .clndr .clndr-table tr .day.today,
.cal1 .clndr .clndr-table tr .day.my-today {
	background: #005bea;
}
.cal1 .clndr .clndr-table tr .day.today:hover,
.cal1 .clndr .clndr-table tr .day.my-today:hover {
	background: #3d41e6;
}

.weather-card .top {
	background:linear-gradient(to right bottom,#3b45f9,#005bea);
}
.primary .pricing-divider{
	background:linear-gradient(to bottom right,#4ac361,#005bea) !important;
}
.secondary .pricing-divider{
	background:linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
	padding: 1em 0 4em;
	position: relative;
}
.product-grid6 .title a:hover{
	color:#005bea;
}
.product-grid6 .icons li a{
	color:#005bea;
	border:1px solid #005bea;
}
.product-grid6 .icons li a:hover{
	background-image:linear-gradient(to right, #005bea 0%, #3942f5 100%);
	}
.product-grid6 .icons li a:after,.product-grid6 .icons li a:before{
	background-image:linear-gradient(to right, #005bea 0%, #3942f5 100%);
}
 

  .card-counter.primary{
    background-image:linear-gradient(to right, #005bea 0%, #4ac361 100%);
    color: #FFF;
  }

  .card-counter.secondary{
    background:linear-gradient(to bottom right, #fbc434 0%, #f66b4e 100%) !important;
    color: #FFF;
  }  

 
/*-----user-profile----*/
#user-profile .profile-details a > i {
	color: #005bea;
}
#user-profile .profile-details i{
	color: #005bea;
}

/* CONVERSATION */
@media (max-width: 767.98px) and (min-width: 576px){
	.search-show .search-element {
		background-image:linear-gradient(to right, #005bea 0%, #3b45f9 100%);
	}
}
@media (max-width: 575.98px){
	.search-show .search-element {
		background-image:linear-gradient(to right, #005bea 0%, #3b45f9 100%);
	}
}

.text-primary-gradient {
	background: #005bea;
}
.text-primary-gradient {
	background: #005bea;
}
.text-secondary-gradient{
	text-transform: uppercase;
	background: linear-gradient(to right , #ed6ea0 0%,#fb8d34 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*---about us---*/
.statistics-info .counter-icon i {
    color: #005bea;
}
.statistics-info .counter-icon {
    border: 1px solid #005bea;
}

/*--home2 category effect--*/
.item-card-img{
	overflow:hidden;
}
.chat .msg_head{
	background:#005bea;
}
.msb-reply button {
    background:#005bea;
}

.top-footer p:hover{
	color:#005bea;
}
.top-footer a address:hover{
	color:#005bea;
}
.top-footer a:hover{
	color:#005bea;
}
.footer-payments a:hover{
	color:#005bea;
}
.footer-social-list a:hover{
	color:#005bea;
}
.sw-theme-dots .nav-tabs .nav-link:hover:not(.disabled) {
	color: #005bea;
}
.horizontal-main2.horizontal-main {
    background: #005bea;
}
/*--header-3--*/
.custom-switch-input:checked~.custom-switch-indicator {
	background: #005bea;
}
.custom-switch-input:focus~.custom-switch-indicator {
	border-color:#005bea;
}
.label-primary{
	background:#005bea;
}
.sweet-alert button {
	background-color: #005bea!important;
}
/*--bg-transparents--*/
.bg-secondary-transparent {
    background-color: rgba(0, 153, 255, 0.1) ;
}
.bg-primary-transparent {
    background-color: rgb(126, 110, 230,0.1) ;
}

/*--left-menu--*/
.first-sidemenu{
	background:linear-gradient( 135deg, #00c6fb 10%, #005bea 100%);
}
.side-account li a:hover{ 
	color:#005bea;
}
.sidetab-menu .panel-tabs li a.active{
	background:linear-gradient(to right, #00c6fb, #005bea);
}
.sidetab-menu .panel-tabs li a:hover{
	background:linear-gradient(to right, #00c6fb, #005bea);
}
.side-menu__item.active, .side-menu__item:hover, .side-menu__item:focus {
	color: #005bea;
}
.side-menu__item.active .side-menu__icon, .side-menu__item:hover .side-menu__icon, .side-menu__item:focus .side-menu__icon{
	color:#005bea;
}
.slide-menu a.active{
	color: #005bea !important;
}
.slide-item.active, .slide-item:hover, .slide-item:focus {
	color: #005bea;
}
.side-menu .side-menu__icon {
	color: #005bea;
}
.slide-item.active .side-icon{
	color: #005bea !important;
}
.slide-item:hover .side-icon{
	color: #005bea !important;
}
.slide.submenu .side-menu__label:hover{
	color:#005bea; 
}
.side-menu .slide-menu.submenu-list a:hover{
	background: #fff;
	color:#005bea; 
}

/*--Resposive tabs left-menu--*/
.resp-vtabs ul.resp-tabs-list {
	background:linear-gradient( 135deg, #00c6fb 10%, #005bea 100%);
}
.resp-vtabs li.resp-tab-active {
	background-color: #00000040 !important;
}
.resp-vtabs li.active{
	background: #00000017 !important;
}
.resp-vtabs li:hover{
	background:#00000017 !important;
}

/*--Horizontal menu--*/
.horizontal-main {
	background: #005bea; /* fallback for old browsers */
	background: linear-gradient(to right, #00c6fb, #005bea);
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>a:hover {
	color:#005bea;
}
.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu>li>ul.sub-menu>li>a:hover{
	color:#005bea;
}
.horizontalMenu>.horizontalMenu-list>li>.horizontal-megamenu .link-list li a:hover{
	color:#005bea;
}
.horizontalMenu>.horizontalMenu-list>li>a{
	border-left: 1px solid rgba(255,255,255,0.1);
}
.horizontalMenu>.horizontalMenu-list>li:last-child>a {
    border-right: 1px solid rgba(255,255,255,0.1);
}
@media only screen and (max-width: 991px) {
	.horizontalMenu>.horizontalMenu-list>li>ul.sub-menu li:hover>a {
		color: #005bea!important;
	}
	.horizontalMenu>.horizontalMenu-list>li:hover>a {
		background:linear-gradient(to right, #00c6fb, #005bea);
	}
	.hor-menu .horizontalMenu>.horizontalMenu-list>li>a.active{
		background: linear-gradient(to right, #00c6fb, #005bea) !important;
	}
	.hor-menu .horizontalMenu>.horizontalMenu-list>li>a:hover{
		background: linear-gradient(to right, #00c6fb, #005bea) !important;
	}
	.horizontalMenu>.horizontalMenu-list>li:hover>a {
		background:linear-gradient(to right, #00c6fb, #005bea);
	}
}


/*header logo*/
@media (max-width: 575.98px){
	.color-headerlogo{
	}
	.color-headerlogo .header-mobile{
		background: url(../images/icon11.png);
		display: block;
		position: absolute;
		width: 50px;
		height: 42px;
		background-repeat: no-repeat;
		margin-left: 3rem;
		margin-top: 0px;
	}
	.search-icon{
		margin-top:5px;
	}
}
@media (max-width: 767.98px) and (min-width: 576px){
	.header-desktop{
		margin-left:3rem;
		background: url(../images/logo11.png);
		display: block;
		position: absolute;
		width: 150px;
		height: 40px;
		background-repeat: no-repeat;
		margin-top: 2px;
	}
	.search-icon{
		margin-top:3px;
	}
}
@media (max-width: 992px) and (min-width: 767px){
	.header-desktop{
		margin-left:3rem;
		background: url(../images/logo11.png);
		display: block;
		position: absolute;
		width: 150px;
		height: 40px;
		background-repeat: no-repeat;
		margin-top: 2px;
	}
	.search-icon{
		margin-top:3px;
	}
	.header .form-inline{
		margin-left: 13rem;
	}
}
@media (min-width: 992px){
	.color-headerlogo{
	}
	.header-desktop{
		background: url(../images/logo11.png);
		display: block;
		position: absolute;
		width: 150px;
		height: 40px;
		background-repeat: no-repeat;
		margin-top: 2px;
	}
	.color-headerlogo .header-mobile{
		display:none;
	}
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background: linear-gradient(to right, #00c6fb, #005bea);
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border: #005bea;
}
.onoffswitch2-checkbox:checked + .onoffswitch2-label {
    background:linear-gradient(to right, #00c6fb, #005bea);
}
.onoffswitch2-checkbox:checked + .onoffswitch-label2, .onoffswitch2-checkbox:checked + .onoffswitch2-label:before {
   border:#005bea;
}